/* styling for the aboutUs page */

.meet {
    margin: auto;
    color: black;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.summary-lily {
    margin: auto;
    text-align: center;
    color: black;
    background-color: white;
}

.lily {
    height: 475px;
    width: 350px;
    border-radius: 8px;
    align-items: center;
}

.lily:hover {
    transform: scale(1.05);
    transition-duration: 500ms;
}

/* 2nd section */

.reason {
    color: black;
    background-color: white;
}

.horses-img {
    height: 750px;
    width: 575px;
    border-radius: 8px;
    align-items: center;
}

.donkeys-img {
    height: 425px;
    width: 575px;
    border-radius: 8px;
    align-items: center;
}

/* 3rd section */

.pony-img {
    height: 425px;
    border-radius: 8px;
    align-items: center;
}

.piglet-img {
    height: 475px;
    border-radius: 8px;
    align-items: center;
}

.mission {
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    color: black;
    background-color: white;
}

/* 4th section */

.founders {
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    color: black;
    background-color: white;
}

.fam-pic {
    height: 500px;
    width: 500px;
    border-radius: 8px;
    align-items: center;
}