/* styling for the animals success stories page */

.form-element {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
}

.animal-card {
    width: 22rem;
    border: 1px solid #000000;
    margin: 1rem;
    box-shadow: 3px 3px #414a4c, -0.4em 0 .4em #0e1111;
}

.animal-card:hover {
    transform: scale(1.05);
    transition-duration: 1000ms;
}

.animal-name {
    color: white;
}

.card-description {
    max-height: 175px;
    overflow-y: auto;
    color: white;
}

.card-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
}
