/* styling for home page */
.content {
    margin: auto;
    max-width: 1200px;
    color: white 
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5; 
  }
  .intro {
    margin-bottom: 30px;
  }
  
  .reason {
    margin-top: 30px; 
  }

.link-style{
    text-decoration: underline;
    color: rgb(144, 52, 214)
}
  