/* styling for home page */
.content {
    margin: 20px auto;
    max-width: 1200px;
    color: white;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 20px;
    line-height: 1.5; 
  }
  