/* styling for the donation popup window */
.popup-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgb(144, 52, 214);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}

.popup-container.show {
    display: block;
}

.popup-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.popup-content a {
    color: rgb(255, 255, 67);
    text-decoration: underline;
    font-weight: bold;
}

  